@font-face {
  font-family: "iconfont"; /* Project id 4407686 */
  src: url('../iconfont/iconfont.woff2?t=1704962380419') format('woff2'),
       url('../iconfont/iconfont.woff?t=1704962380419') format('woff'),
       url('../iconfont/iconfont.ttf?t=1704962380419') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e632";
}

.icon-yonghu:before {
  content: "\e634";
}

.icon-mima:before {
  content: "\e6b2";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-moxingguanli:before {
  content: "\e60f";
}

.icon-yonghuguanli_huaban:before {
  content: "\e62d";
}

.icon-guanlidenglurizhi:before {
  content: "\ea45";
}
