* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
    font-family: '楷体';
    font-size: 14px;
    /* background-color: #cfe8ed; */
}